.scoreContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.starButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.starButton:hover {
  transform: scale(1.1);
}

.starImage {
  width: 20px;
  height: 20px;
}